*{
    margin: 0;
    padding: 5;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
}
#head3{
    height: 30px;
    background: #0f172a;
}
#head{
    height: 50px;
    color: white;
    background-color: #0f172a;
    text-align: center;
    font-weight: 400;
}
#head1{
    text-transform: uppercase;
    font-size: medium;
    
}
#head2{
    font-size: 7px;
}
#nextToHead{
    height: 10px;
    background-color: whitesmoke;
}
#next2{
    background-color: white;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 5px 0;
    border-radius: 2px;
}
#next21{
    font-size: 4px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 3px;
    padding: 5px;
}
#next22{
    margin-top: 4px;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 700;
}
body {
    font-family: 'Poppins', sans-serif;
}
#main1{
    background-color: aliceblue;
    text-align: center;
    margin: 0 auto;
    width: 90%;
    padding: 9px 0;
    border-radius: 2px;
}
.main11{
    background-color: white;
    font-size: 4px;
    width: 50%;
    margin: 2px auto;
    padding: 2px;
    border-radius: 2px;
}
.main12{
    text-transform: uppercase;
    font-size: 9px;
    margin-bottom: 4px;
}
#main2{
    background-color:#fff3c4;
;
    text-align: center;
    margin: 0 auto;
    width: 90%;
    padding: 9px 0;
}
.main21{
    background-color:white;
    font-size: 4px;
    width: 50%;
    margin: 2px auto;
    padding: 2px;
    border-radius: 2px;
}
#prefinal{
     background-color:lavender;
    text-align: center;
    margin: 0 auto;
    width: 90%;
    padding: 9px 0;
    border-radius: 2px;
}
#final{
    background-color:rgb(190, 234, 190);
    text-align: center;
    margin: 0 auto;
    width: 90%;
    padding: 9px 0;
    border-radius: 2px;
}